* {
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

body {
	margin: 0;
}

#loginLogoutBtn { /* Är inte responsiv i lägre skärmstorlekar */
    height: 7vh; 
    min-width: 17vh; /* Kan eventuellt bråka, har satt en min-width för att :active ska funka utan att minska knappen för mycket */
    margin-left: 20px;
	background-color: #5596F5;	
	color: #ffffff;
    border: none;
    font-size: 1.7em;
    outline: none;                  /* Vi har många knappar med samma styling, kan vara en ide att göra en klass som vi kan återanvända */
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

}
.loginIcon {
    margin-left: 10px;
}

.navLeft{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 350px;		
}
.navRight {
    display: flex;
    align-items: center;
}

.hLogo {
	font-family: usual, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 3em;
}

.hButton {
	font-size: 2em;
}

header {
	top: 0;
	left: 0;
	right: 0;
	height: 7vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #212121;
	color: white;
	padding-left: 20px;
    position: fixed;
    z-index: 1;
}

main {
	margin-top: 7vh;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}
/* Vår produkt container som wrappar alla produkter */
#productContainer {
	display: flex;
	/* min-height: 90vh; */
    align-items: center;
    text-align: center;
	background-color:#FFFFFF; /* For develope purpose */
}

/* Vårt innehåll i produktkorten, skapat i Javascript stylas här */
.productCard {
 background-color: #FFFFFF;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 5vh;
 width: 100%;
 font-weight: bold; 
}
 
.productCard:nth-child(even) {
 background-color: #F5F5F5;
}

.productCard:last-child {
	margin-bottom: 10vh;
}
.productPrice {
    margin-top: -8px;
    font-size: 1.2em;
    font-weight: bolder;
}
.productDescr {
    font-size: 1em;
}
.productImgContainer {
    
}
.productImg {
	max-width: 100%;
	height: 86.5vh;
    object-fit: contain;
    padding: 1em;
}

.productTitle {
    font-size: 4em;
    margin-bottom: 5px;
}

.productButton, .btnConfirm{
    display: flex;
    font-size: 1.7em;
    height: 7vh;
    flex-direction: row-reverse;
    border: none;
    border-radius: 0.5em;
    align-items: center;
    color: #FFFFFF;
    background-color: #5596F5;
    outline: none;     
    margin-bottom: 30px;             /* Vi har många knappar med samma styling, kan vara en ide att göra en klass som vi kan återanvända */
}
.btnConfirm {
    /* Knappen måste ges mer utrymme, padding/margin så att inte icon och knapp ligger klossan */

}
.fa-check {
    padding: 0.5em;
    font-size: 20px;

}
.fa-cart-arrow-down{
    text-align: start;
    flex: 1 0 0;
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: white;
    
}
a:visited {
    text-decoration: none;
    color: white
}

/* Cart styling */

#cartProducts {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cartProdCard {
    min-width: 15vw;
    padding: 10px;
    margin-right: 50px;
    border: 2px solid #5596F5;
    border-radius: 15px;
    background-color: #F5F5F5;
    margin-bottom: 30px;
}

.cartImg {
    height: 20vh;
}

/* hover and active functions */

#loginLogoutBtn:hover, .productButton:hover, .btnConfirm:hover {
    box-shadow: inset 0px 0px 20px white;
}

#loginLogoutBtn:active, .productButton:active, .btnConfirm:active {
    box-shadow: inset 0px 0px 60px white;
    font-size: 1.6em; 
}


/* Login page */

#loginWrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formWrap {
    border: 1px solid #5596F5;
    margin-top: 10vh;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #F5F5F5;   
}
.formWrap > h2 {
    margin: 0;
}

.loginInputs {
    height: 30px;
    font-size: 1.5em;
    margin: 5px;
}

.formButtons {
    background-color: #5596F5;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-size: 2em;
    outline: none;
}

.formButtons:active {
    font-size: 1.8em;
}

#counterCart{
    margin: 10px;
}

.logoKundvagn {
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    font-family: usual, sans-serif;
	font-style: normal;
	font-weight: 600;
}
.logoKundvagn > i{
    margin-right: 0.5em;
}

.totalSum{
    font-family: usual, sans-serif;
	font-style: normal;
    font-weight: 600;
    font-size: 2em;
}

.myPageBtn{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    width: 100vw;
    z-index: 0;
}

/* MEDIAQUERY-DELEN */
@media only screen and (max-width: 600px) {
	.navLeft {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 200px;		
	}
	
	.hLogo, .productButton {
		font-size: 25px;
    }
    #loginLogoutBtn, .productDescr {
        font-size: 18px;
    }
    .productTitle{
        font-size: 50px;
    }
}